.ordering {
    padding: 120px 0px 150px 0px;
    background-image: url(./../images/bg/bcg-ordering.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     @media(max-width:768px) {
            padding: 60px 0px 70px 0px;
        }
    &-header {
        text-align: center;
        margin-bottom: 80px;
         @media(max-width:768px) {
                margin-bottom: 40px;
            }
    }
    &-form {
        &-wrapper {
            margin-bottom: 50px;
        }
        &__submit {
            display: block;
            max-width: 370px;
            margin: 0 auto;
             @media(max-width:576px) {
                    max-width: 100%;
                }
        }
    }
    &__title {
        font-size: rem(36);
        font-weight: 700;
        margin-bottom: 30px;
         @media(max-width:576px) {
                font-size: rem(30);
                margin-bottom: 20px;
            }
         @media(max-width:400px) {
                font-size: rem(24);
            }
    }
    &__subtitle {
        color: $grey;
        font-size: rem(18);
    }
    &-steps {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        margin-bottom: 80px;
        @media(max-width:1024px) {
            margin-right: -20px;
            margin-left: -20px;
            margin-bottom: 40px;
            padding: 0 20px;
        }
        &::-webkit-scrollbar {
            width: 0;
          }
    }
    &-item {
        display: inline-block;
        text-align: center;
        flex: 1 0 auto;
        max-width: 210px;
        padding: 0 10px;
        &__icon {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            border: 5px solid #286690;
            background-color: $blue;
            margin-bottom: 20px;
             @media(max-width:576px) {
                    width: 80px;
                    height: 80px;
                }
            // &::after {
            //     content: '';
            //     display: inline-block;
            //     position: absolute;
            //     top: 50%;
            //     left: calc(100% + 9px);
            //     transform: translate(0%,-50%);
            //     width: 100%;
            //     height: 6px;
            //     background-image: url(./../images/icon/dots.svg);
            //     background-repeat: no-repeat;
            // }
            // &::before {
            //     content: '';
            //     display: inline-block;
            //     position: absolute;
            //     top: 50%;
            //     right: 100%;
            //     transform: translate(0%,-50%);
            //     width: 100%;
            //     height: 6px;
            //     background-image: url(./../images/icon/dots.svg);
            //     background-repeat: no-repeat;
            // }
            
            &-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        &__name {
            max-width: 180px;
            margin: 0 auto;
        }
        &:first-child {
            .ordering-item__icon {
                    &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: calc(100% + 14px);
                    transform: translate(0%,-50%);
                    width: var(--dots);
                    height: 6px;
                    background-image: url(./../images/icon/dots.svg);
                }
                &::before {
                    display: none;
                }
            }
        }
        &:last-child {
            .ordering-item__icon {
                &::after {
                    display: none;
                }
            }
        }
    }
}

